.space{
    overflow: auto;
}
.post{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    left: 0px;
    padding: 20px 20px 0px 20px;
    width: 100%;
    
  
    
}
.postHelper{
    width: 100%;

  

    left: 0px;
}
.name{
font-size: 18px;
}
.postcontent{
    padding-left: 10px;
}
.id{

    font-size: 18px;
    color: rgb(115, 115, 115);
}
.tweet{
    font-weight: 5;
    font-size: 18px;
    width: 90%;
    line-height: 1;
}
.blue-tick{
    display: inline;
}
.name{
    display: flex;
    align-items: center;
   
}
.svgtick{
    width: 20px;
    height: 22.5px;
}
.postreactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 10px;
}
ul{
    list-style: none;
}
.postreactionsul{
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.line{
    border-color: rgb(122, 122, 122);
}
.linereact{
    padding-top: 0px;
}
.postreactionsul svg path{
    fill: rgb(158, 158, 158);
}