.sideul{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 80px;
    margin-left: 20px;
    align-items: space-between;
    list-style: none;
    /* border-right: 0.3px rgb(108, 104, 104) solid; */

}

.sideli{
    margin-bottom: 100px;
    display: flex;
    align-items:center;
    justify-content: center;

}
.sideimg{
    background-color: rgb(243, 84, 84);
    border-radius: 10px;

}
.Side{
    width: 100px;
    display: flex;
    flex-direction: column;
}
svg{
    width: 30px;
   
}
svg path {
    fill: rgb(255, 255, 255);
  }
  
.not{
    color: rgb(247, 108, 2);
}
.sideimgpp{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
}
.profilepics{
    display: flex;
    justify-content: center;
    align-items: start;

}
.btn{
    background-color: black;
    border: none;
    cursor: pointer;
}
.btn:hover svg{
    width:40px;
  
}
.ppp{
    filter: grayscale(1);
}

@media (max-width:768px) {
    .Side{
        width: 0px;
        height: 3rem;
        background-color: black;
    }
    .sideli{
        margin-bottom: 0px;
    }
    .sideul{
        border: 1px solid white;
        border-radius: 5rem;
        position: fixed;
        bottom: 20px;
        left: 0px;
        flex-direction: row;
        height: 10vh;
        width: 100vw;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        filter: blur(10);
        margin-left: 0px;
    }
    .flg{
        margin: 0px;
    }
    .profilepics{
        display: flex;
        align-items: start;
        justify-content: start;

    }
    svg{
        width: 30px;
    }

    
}